<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexLogin.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontLogin.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesLogin.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/componentsLogin.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/Login.css" />
  </head>
  <body>
    <div class="login">
      <div class="column">
        <div class="columnview">
          <div class="columnpreenchac">
            <h1 class="preenchacom ui heading size-headings">Preencha com suas Informações para efetuar o</h1>
            <a href="Login" target="_blank" rel="noreferrer" class="login-link">
              <h2 class="login-2 ui heading size-headings">Login</h2>
            </a>
          </div>
          <div class="stackview">
            <div class="view"></div>
            <img src="/images/Login/img_young_woman_in_headphones.png" alt="Youngwomanin" class="youngwomanin" />
          </div>
        </div>
      </div>
      <form action="/login/autentication" method="POST">
        <div class="column_one">
          <div class="columnemail">
            <h2 class="ui heading size-headingxs">Email</h2>
            <label class="edittext-1">
              <input name="email" type="email" placeholder="Digite seu email" required />
            </label>
          </div>
          <div class="columnsenha">
            <h2 class="ui heading size-headingxs">Senha</h2>
            <label class="edittext-1">
              <input name="senha" type="password" placeholder="Digite sua senha" required />
            </label>
          </div>
          <button id="login" class="flex-row-center-center login-1" type="submit">Login</button>
        </div>
      </form>
    </div>

  </body>
</html>
