<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro IP</title>
    
    <link rel="stylesheet" href="/telainicialcss/header.css">
    <link rel="stylesheet" href="/CadastroIPCSS/style.css">
</head>
<body>

    <header class="cabecalho">
        <nav class="cabecalho_menu">
            <img class="imagem_logo" src="/img/nome_logo.png" alt="Logo da empresa">
            <ul class="nav_list" id="section1">
                <li><a class="cabecalho_menu_link" href="/lista">Lista de IP</a></li>
                <li><a class="cabecalho_menu_link" href="/cadastroIP">Cadastro de IP</a></li>
                <li><a class="cabecalho_menu_link" href="/UsuariosCadastrados">Usuarios Cadastrados</a></li>
                <li>
                  <form action="/cadastroIP/logout" method="GET">
                    <button class="Btn" type="submit">
                      <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                      <div class="text">Sair</div>
                    </button>
                  </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CADASTRAR</span>
                  <span>IP</span>
                </div>
                <div class="app-contact">Gerencie seus endereços IP</div>
              </div>
              <div class="screen-body-item">
                <form class="app-form" id="formIP" action="/cadastroIP/addIP" method="POST">
                  <div class="app-form-group">
                    <input class="app-form-control" name="utilizador" placeholder="Nome do Utilizador" required>
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" name="matricula" type="number" placeholder="Matricula do Utilizador" required>
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" name="ip" placeholder="Endereço IP" required>
                    
              <!-- Exibe mensagem de erro apenas após tentativa de login -->
                    <% if (error) { %>
                      <div class="error-message" style="color: red; margin-bottom: 15px;">
                      <%= error %>
                    </div>
                  <% } %>
                  </div>
                  <div class="app-form-group buttons">
                    <button type="submit" class="app-form-button">CADASTRAR</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script src="/js/CadastroIP.js"></script>
</body>
</html>