@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Login/PoppinsBoldLogin.ttf");
  font-family: "Poppins";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Login/PoppinsSemiBoldLogin.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
