<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexHome.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontHome.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesHome.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/componentsHome.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/Telainicial.css" />
   
    <link rel="stylesheet" href="/stylesheets/textosurgindoHome.css"/>
  
  </head>
  <body>
    <div class="tela-inicial">
      <header class="headernetslaugh">
        <div class="rownetslaugh">
          <img src="/images/Inicial/img_image_40.png" alt="Imageforty" class="imageforty_one" />
          <p class="netslaugh ui heading size-text2xl">Netslaugh</p>
        </div>
        <ul class="rowcadastrese">
          <li>
            <a href="/cadastro">
              <p id="cadastro1"  class="cadastrese ui text size-textxl">Cadastre-se</p>
            </a>
          </li>
          <li>
            <a href="/login">
              <p class="cadastrese ui text size-textxl">Login</p>
            </a>
          </li>
        </ul>
      </header>
      <div>
        <div>
          <div>
            <div class="container">
              <div class="rowdescription-3">
                <p class="description ui text size-textmd">
                 
                  Bem-vindo ao Netslaugh ! Nossa plataforma foi criada para facilitar a consulta e gestão de
                  endereços de IP. Com um sistema rápido e eficiente, você pode verificar em tempo real se um
                  determinado IP está em uso e, se necessário, registrar um novo. Evite conflitos de IP e otimize o uso
                  dos recursos de rede com a nossa solução intuitiva e prática

                </p>
                <div class="rowtaskmanageme">
                  <img src="/images/Inicial/img_task_management.png" alt="Taskmanagement" class="taskmanagement" />
                  <img src="/images/Inicial/img_iphoneimg.png" alt="Iphoneimg" class="iphoneimg_one" />
                </div>
              </div>
              <div class="rowservices_one">
                <img src="/images/Inicial/img_services.png" alt="Services" class="services_one" />
                <h1  class="heading4zero ui heading size-headingxs">
                  Simplifique a Gestão de IPs e Garanta a Disponibilidade em Tempo Real
                </h1>
              </div>
              <div class="columngerencies">
                <div class="rowgerencieseus">
                  <div class="titulo">
                    <p class="gerencieseus ui text size-text3xl">
                      Gerencie Seus Endereços de IP com Facilidade e Eficiência
                    </p>
                  </div>
                  <div class="columnaumento">
                    <div class="rowaumento">
                      <p class="aumento ui text size-textxs">
                        Aumento significativo no número de IPs gerenciados, mantendo uma eficiência de consulta que
                        chega a 95%.
                      </p>
                    </div>
                    <div class="container_one"></div>
                  </div>
                </div>
                <div class="botao">
                  <button class="flex-row-center-center cadastrese-1" onclick="window.location.href='/cadastro'">
                    <img src="/images/Inicial/img_rocket.png" alt="Rocket" class="rocket" />
                    <span> Cadastre-se</span>
                  </button>
                  <button class="flex-row-center-center saiba_mais" onclick="scrollToSection('telainfo')">
                    <div class="left-icon-wrapper">
                      <img
                        src="/images/Inicial/img_overflowmenu_white_a700.svg"
                        alt="Overflow Menu"
                        class="overflow_menu"
                      />
                    </div>
                    <span> Saiba mais</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="telainfo" class="telainfo">
          <div class="listheadingfour">
            <div class="rowdescription">
              <div class="columnheadingfo">
                <div class="rowheadingfour">
                  <img src="/images/Inicial/img_automation.png" alt="Image" class="image-1" />
                  <h2 class="headingfour ui heading size-headings">Descubra e Gerencie Endereços de IP Facilmente</h2>
                </div>
                <p class="description-1 ui text size-texts">
                  No NetSlaugh, você pode conferir de maneira rápida e eficiente se um endereço de IP está em uso. Nosso
                  sistema realiza uma busca direta em nosso banco de dados, garantindo que você sempre tenha informações
                  atualizadas.
                </p>
              </div>
            </div>
            <div class="rowdescription">
              <div class="columnheadingfo">
                <div class="rowheadingfour">
                  <img src="/images/Inicial/img_security_shield.png" alt="Image" class="image-1" />
                  <h3 class="headingfour ui heading size-headings">Segurança no Monitoramento de IPs</h3>
                </div>
                <p class="description-1 ui text size-texts">
                  Mantenha sua rede segura com a verificação constante de endereços IP. Nosso sistema monitora cada
                  entrada, identificando usos não autorizados e garantindo que apenas IPs válidos sejam registrados.
                  Assim, você tem controle total sobre sua rede, com a garantia de proteção e confiabilidade.
                </p>
              </div>
            </div>
            <div class="rowdescription">
              <div class="columnheadingfo">
                <div class="rowheadingfour">
                  <img src="/images/Inicial/img_graph.png" alt="Image" class="image-1" />
                  <h4 class="headingfour ui heading size-headings">Alocação eficiente de IPs</h4>
                </div>
                <p class="description-1 ui text size-texts">
                  Ao verificar o uso de um IP, nosso sistema fornece instantaneamente um novo endereço disponível caso o
                  anterior esteja ocupado. Isso garante uma alocação eficiente e evita conflitos de rede, assegurando
                  que sua infraestrutura de TI opere sem interrupções ou sobrecargas desnecessárias.
                </p>
              </div>
            </div>
          </div>
          <div class="row_two">
            <div class="row_one">
              <div class="columnview">
                <img src="/images/Inicial/img_group_17.svg" alt="Image" class="image" />
                <div class="row">
                  <div class="rowview">
                    <div class="stackview">
                      <div class="view"></div>
                      <img src="/images/Inicial/img_image_39.png" alt="Imagethirtynine" class="imagethirtynine" />
                    </div>
                  </div>
                  <h5 class="description-4 ui heading size-text2xl">
                    Gerenciamento de endereços IP nunca foi tão fácil. Nossa ferramenta oferece uma solução rápida e
                    segura para verificar, registrar e gerenciar IPs de forma automatizada, evitando conflitos de rede e
                    garantindo a organização da sua infraestrutura.
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="ofertas">
            <img src="/images/Inicial/img_purple_blur.png" alt="Purpleblur" class="purpleblur_one" />
            <div class="rowgrowingpurpl">
              <div class="column">
                <div class="columnoque">
                  <div class="rowoque">
                    <h2 class="oque ui heading size-text4xl">O Que Oferecemos</h2>
                    <h3 class="class-_____ ui heading size-text5xl">. . .</h3>
                  </div>
                  <img src="/images/Inicial/img_growing_purple_bar.png" alt="Growingpurple" class="growingpurple" />
                </div>
              </div>
              <div class="column_one">
                <div class="escalabilidade">
                  <div>
                    <div class="rowgraph_one">
                      <img src="/images/Inicial/img_graph.png" alt="Graph" class="graph_one" />
                      <h4 class="escalabilidade-1 ui heading size-headinglg">Escalabilidade</h4>
                    </div>
                    <h5 class="description-5 ui heading size-textlg">
                      Nossa ferramenta é preparada para crescer com a sua empresa, tornando o gerenciamento de grandes
                      quantidades de IPs simples e eficiente.
                    </h5>
                  </div>
                </div>
                <div class="columnseguranae">
                  <div class="listseguranae">
                    <div class="seguranca">
                      <div class="columnseguranae-1">
                        <div class="rowgraph_one">
                          <img src="/images/Inicial/img_police.png" alt="Image" class="graph_one" />
                          <h6 class="seguranae ui heading size-headinglg">Segurança e Controle</h6>
                        </div>
                        <p class="description-5 ui heading size-textlg">
                          Centralize o gerenciamento de IPs com uma interface segura e de fácil uso, garantindo total
                          controle sobre todos os dispositivos conectados à rede.
                        </p>
                      </div>
                    </div>
                    <div class="seguranca">
                      <div class="columnseguranae-1">
                        <div class="rowgraph_one">
                          <img src="/images/Inicial/img_bot.png" alt="Image" class="graph_one" />
                          <h5 class="seguranae ui heading size-headinglg">Automatização Completa</h5>
                        </div>
                        <p class="description-5 ui heading size-textlg">
                          Evite o trabalho manual e automatize a atribuição e o cadastro de endereços IP, permitindo que
                          você economize tempo e reduza erros humanos.
                        </p>
                      </div>
                    </div>
                    <div class="seguranca">
                      <div class="columnseguranae-1">
                        <div class="rowgraph_one">
                          <img src="/images/Inicial/img_alarm_clock.png" alt="Image" class="graph_one" />
                          <h5 class="seguranae ui heading size-headinglg">Consulta Instantânea</h5>
                        </div>
                        <p class="description-5 ui heading size-textlg">
                          Verifique rapidamente se um IP já está em uso e receba novas sugestões de IPs disponíveis para
                          otimizar sua rede.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     
      <script src="/javascripts/funcaoClick.js"></script>
      <script src="/javascripts/efeitotxt.js"></script>

  </body>
</html>
