<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cadastrado com Sucesso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexSucess.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontSucess.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesSucess.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/componentsSucess.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/SucessoCadastro.css" />
  </head>
  <body>
    <div class="sucesso-cadastro">
      <div class="stackinstagramc">
        <div class="rowinstagramche">
          <div class="columninstagram">
            <img src="/images/SucessoCadastro/img_instagram_check.png" alt="Instagramcheck" class="instagramcheck" />
            <div class="rowcliqueaqui">
              <a class="cliqueaqui ui heading size-headingxs" href="/login">Clique aqui para seguir para o login</a>
              <img src="/images/SucessoCadastro/img_right_arrow.png" alt="Rightarrow" class="rightarrow_one" />
            </div>
          </div>
        </div>
        <h2 class="cadastradocom ui heading size-headings">Cadastrado com sucesso</h2>
      </div>
      <img src="/images/SucessoCadastro/img_youg_people_discussing.png" alt="Yougpeople" class="yougpeople_one" />
    </div>
  </body>
</html>
