<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexCadastro.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontCadastro.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesCadastro.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/componentsCadastro.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/TeladeCadastro.css" />
  </head>
  <body>
    <div class="tela-de-cadastro">
      <div class="column_one">
        <div class="column">
          <div class="columnpurplespe">
            <div>
              <div class="columnpreenchao">
                <h1 class="preenchaos ui heading size-headings">Preencha os Campos Para realizar seu</h1>
                <h2 class="cadastro ui heading size-headings">Cadastro</h2>
              </div>
            </div>
            <div class="stackpurplespee">
              <img src="/images/Cadastro/img_purple_speech_bubble.png" alt="Purplespeech" class="purplespeech" />
              <img src="/images/Cadastro/img_young_man_in_headset.png" alt="Youngmanin" class="youngmanin_one" />
            </div>
          </div>
        </div>
      </div>
      <form action="/cadastro/addClient" method="POST">
        <div class="columncadastrar">
          <div class="columnmatricula">
            <h2 class="ui heading size-headingxs">Matrícula (5 Digitos)</h2>
            <label class="edittext_one">
              <input name="matricula" type="text" required/>
            </label>
          </div>
          <div class="columnnomecompl">
            <h2 class="ui heading size-headingxs">Nome Completo</h2>
            <label class="edittext-1">
              <input name="nome" type="text" required/>
            </label>
          </div>
          <div class="columnemail">
            <h2 class="email ui heading size-headingxs">E-mail</h2>
            <label class="edittext-1">
              <input name="email" type="email" required/>
            </label>
          </div>
          <div class="columnsenha">
            <h2 class="email ui heading size-headingxs">Senha</h2>
            <label class="edittext-1">
              <input name="senha" type="password" required/>
          </div>
          <div class="columnconfirmao">
            <h2 class="ui heading size-headingxs">Confirmação de senha</h2>
            <label class="edittext_one">
              <input name="confirmacao" type="password" required/>
            </label>
          </div>
          <button id="cadastrar-se" class="flex-row-center-center cadastrarse" type="submit">
            <span>Cadastrar-se</span>
            <img src="/images/Cadastro/img_rocket.png" alt="Rocket" class="rocket" />
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
